<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PackingTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>462BB8AC1EBB32F400374BD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BB8C51EBB32F400374BD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BB8D01EBB32F400374BD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
